body{
    background-image: url("download.png");
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
}
img{
    width: 145px;
    height: 65px;
    background-repeat: none;
    background-position: left top;
    position: absolute;
    top: 35px;
    left: 3px;
}
.job_board{
    color: rgb(0, 0, 0);
    line-height: 1px;   
    position: absolute;
    top: 25px;
    left: 125px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    padding: 30px 10px;
}
ul {
    list-style-type: none;
    float: right;
    display: flex;
    margin-top: 0px;
}
li {
    float: left;
    padding: 15px 16px;
    font-size: 24px;
    display: block; 
}
li a{
    text-decoration: none; 
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link{
    background-color: rgba(240, 248, 255, 0);
}
.link:hover{
    background-color: rgba(255, 196, 0, 0.664);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border-color: black;
    cursor: pointer;
}
link_cent{
    position: relative;   
    left: 490px;
}
link_right{
    position: relative;   
    left: 680px;
}
button{
    border-radius: 10px;
    border: 2px solid;
    width: 90px;
    height: 40px;
    text-decoration: none; 
    color: black;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    background-color: rgba(255, 196, 0, 0.664);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
    cursor: pointer;
}
.display{
    font-size: 20px;
    color: black;
    position: fixed;
    top: 700px;
}


/*card css*/
    .container1{
        width: 350px;
        height: 500px;
        perspective: 800px;
        position: absolute;
        top: 150px;
        left:100px;
    }
    .container2{
        width: 350px;
        height: 500px;
        perspective: 800px;
        position: absolute;
        top: 150px;
        left:600px;
    }
    .container3{
            width: 350px;
            height: 500px;
            perspective: 800px;
            position: absolute;
            top: 150px;
            left:1100px;
    }

    .container1:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
    }

    .container2:hover > .card {
        cursor: pointer;
        transform: rotateY(180deg);
    }

    .container3:hover > .card {
        cursor: pointer;
        transform: rotateY(180deg);
    }

    .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    }

    .front,.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    }

    .front {
        transform: rotateY(0deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .back {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }


    /*image inside box*/